@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
body{
  background-color:#f0efec;
  font-family: "Montserrat", sans-serif;
}.calendar-container {
  padding: 2rem;
  padding-top: 1rem;
  background-color:#f0efec;
}
.no-tasks-message {
  text-align: center; 
  margin: 50px 0; 
  padding: 20px;
  background-color: #ffffff; 
  border: 1px solid #d3d3d3; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.calendar-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.calendar-pagination {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-size: 2rem; 


}

.pagination-button {
  background: none;
  border: none;
  font-size: 2rem; 
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.month-year {
  margin: 0 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:620;
  font-size: 3rem;
  font-style: normal;
  text-transform: capitalize;
    color: #1D1D1D; 
    margin-bottom: 2.3rem;
    font-optical-sizing: auto;

}

.pagination-button:hover {
  color: #FF6F61; 
}


.calendar-grid {
  display: grid;
  gap: 5px; 
}

.calendar-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 3px; 
  margin-bottom: 0.5rem;
}

.day-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 677rem;
  font-weight: bold;
  margin: 0; 
  padding: 0.2rem 0;
}

.day-name {
  font-size: 1rem; 
  margin: 0; 
  padding: 0.1rem 0; 
}

.separator {
  margin: 0; 
  padding: 0.1rem 0; 
  color: #FF6F61;
}

.task-list {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 1rem; 
}

.task-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  background: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0;
  font-size: 0.9rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  transition: box-shadow 0.2s ease;
  position: relative;
  border:1px solid #1D1D1D;
}

.task-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem; 
}

.task-description {
  margin: 0.3rem 0; 
}


.task-card p {
  margin: 0; 
  padding: 0.1rem 0; 
}

.task-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
  transition: box-shadow 0.2s ease; 
}

.getFormattedDate{
  font-size: 45rem;
}

.blur-background {
  filter: blur(5px); 
  pointer-events: none; 
}

.greeting-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}

.greeting-section p {
  margin: 0;
  padding: 5px;
}
hr{
  border:0.5px  groove #ff1500;
}


.color-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.color-box {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin-right: 10px;
}