<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>
  <div *ngIf="tasks.length === 0">
  <h2>Hello, please add tasks</h2>
</div>

<div class="calendar-container">
  <div class="greeting-section">
    <p>{{ currentDate }}</p>
    <p>{{ greetingMessage }}, {{ authService.userProfile.userLoginDTO.username }}</p>
  </div>
  <hr>

<div class="color-legend">
    <div class="color-item">
      <span class="color-box" style="background-color: #C7DBF2;"></span> 
      <span>Collaborative Tasks</span>
    </div>
    <div class="color-item">
      <span class="color-box" style="background-color: #F2DAEF;"></span> 
      <span>Personal Tasks</span>
    </div>
  </div>

  <div class="calendar-pagination">
    <button (click)="previousPage()" class="pagination-button" [disabled]="currentPage === 1">&larr;</button> 
    <span class="month-year">{{ currentMonth }}</span>
    <button id="nextPageButton"(click)="nextPage()" class="pagination-button" [disabled]="currentPage === totalPages">&rarr;</button> 
  </div>

  <div class="calendar-grid">
    <div class="calendar-row dates-row">
      <div class="day-column" *ngFor="let date of paginatedDates">
        <div class="date"><h1>{{ getFormattedDate(date) }}</h1></div>
      </div>
    </div>
    
    <div class="calendar-row days-row">
      <div class="day-column" *ngFor="let date of paginatedDates">
        <div class="day-name">{{ getDayOfWeek(date) }}</div>
      </div>
    </div>
    
    <div class="calendar-row separator-row">
      <div class="day-column" *ngFor="let date of paginatedDates">
        <div class="separator">|</div>
      </div>
    </div>

    
<div class="calendar-row task-data-row">
  <div class="day-column" *ngFor="let date of paginatedDates">
    <div class="task-list">
      <div class="task-card" *ngFor="let task of sortedTasks[date]" 
           (click)="openEditModal(task)"
           [ngStyle]="{'background-color': task.collaboratorIds.length <= 1 ? '#F2DAEF' : '#C7DBF2'}"> 

        <div class="icon-container">
          <i *ngIf="!task.isCollaborative" class="bi bi-person-fill" aria-hidden="true"></i> 
          <i *ngIf="task.isCollaborative" class="bi bi-people-fill" aria-hidden="true"></i> 
        </div>
 
        <span class="badge rounded-pill" 
        [ngClass]="{
          'bg-primary': task.status === 'PENDING', 
          'bg-warning': task.status === 'IN_PROGRESS',
          'bg-success': task.status === 'COMPLETED'
        }" 
        style="position: absolute; top: 10px; right: 10px; z-index: 10;">
    {{ task.status }}
  </span>


        <h3 class="task-title">{{ task.title }}</h3>
        <p class="task-description">{{ task.description }}</p>
        <p><strong>Priority:</strong> {{ task.priority }}</p>
        <p><strong>Time:</strong> {{ getFormattedTime(task.dueDate) }}</p>
      </div>
    </div>
  </div>
</div>


    <app-task-form *ngIf="isTaskFormVisible" (taskCreated)="onTaskAdded($event)" (formClosed)="closeTaskForm()"></app-task-form>


    
    <app-task-edit-modal        *ngIf="isModalOpen"        [task]="selectedTask!"        (closeModal)="closeModal()"       (taskDeleted)="onTaskDeleted()">     
      
    </app-task-edit-modal>
  </div>
</div>
</body>