<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fixed Bottom Component</title>
<link rel="stylesheet" href="demo.component.css"> 
</head>
<body>
<div class="container">
<div class="scrollable-content">
<h1>Scrollable Content</h1>
<p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Curabitur viverra orci ac sapien fermentum tincidunt. 
                Integer at massa ut nisi ultrices lobortis.
</p>
<!-- Repeat or add more content to make the page scrollable -->
<p>More content here...</p>
</div>
<div class="fixed-bottom">
<p>Fixed Bottom Component</p>
</div>
</div>
</body>
</html>
