* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto; /* Makes the content scrollable */
  padding: 20px;
  background-color: #f0f0f0;
}

p {
  font-size: 4rem;
}
.fixed-bottom {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 15rem;
}
