
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0efec; /* Light background color */
    padding: 20px; /* Add padding for spacing */
}

.hero-content {
    max-width: 50%; /* Limit width of the text area */
    text-align: left;
    margin-left:4rem;
    padding: 10px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-size: 4rem;
    font-style: normal;
    text-transform: capitalize;
    color: #1D1D1D;
    margin-bottom: 2.3rem;

    white-space: nowrap; /* Allows wrapping */
    overflow: hidden; /* Hides text not revealed yet */
    display: inline-block;
    border-right: 4px solid black; /* The blinking cursor */
    animation: typing 8s steps(40) forwards, blink 0.35s step-end infinite;
}

/* Typing effect with more steps for smoother animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Reveal the entire h1 text */
    }
}

/* Blinking cursor effect */
@keyframes blink {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
    margin-bottom: 2rem;
}

.btn {
    padding: 10px 20px;
    background-color: #FF6F61;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    font-weight: 500;
}

.btn:hover {
    background-color: #FF4D3D;
}

.hero-image {
    max-width: 50%;
}

.hero-image img {
    max-width: 100%;
    border-radius: 15px;
}