<div class="info-section">  
   
    <div class="content-container">  
     <h2>Achieve More with Smart Task Management</h2>  
     <p>Take control of your tasks and streamline your day with our easy-to-use to-do list. From setting deadlines to breaking down complex projects, our tool helps you stay on track and accomplish more. Boost your productivity by turning your goals into actionable steps</p>  
     <button>Get Started Now</button>  
    </div> 
    <div class="image-container">  
        <img src="/assets/info2.jpg" alt="Info Section Image">  
       </div>   
  </div>
